.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 auto;
  max-width: 1024px;
}

.hamburgerMenuContainer {
  background-color: red;
}

.line1,
.line2,
.line3 {
  width: 80px;
  height: 4px;
  margin: 2px;
  background-color: black;
}
